<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: "themix";
            src: url("assets/TheMix_LT_400.woff") format('woff');
        }
        @font-face {
            font-family: "themix";
            src: url("assets/TheMix_LT_700.woff") format('woff');
            font-weight: bold;
        }

        body {
            background: white;
            max-width: 42rem;
            font-size: 14px;
            font-family: themix, serif;
            display: flex;
            flex-direction: column;
            /*background-image: url("assets/frame.png");*/
            /*background-repeat: no-repeat;*/
        }

        .row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .boxWrap {
            margin: 0.2rem 0.4rem;
            padding: 0.2rem 0.4rem;
            flex-grow: 1;
        }

        .box {
            border: black 1px solid;
            border-radius: 8px;
            font-size: 16px;
            text-align: center;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.4rem;
        }

        .boxImportant {
            font-size: 24px;
            font-weight: bold;
            height: 4rem;
        }

        .boxSemitall {
            height: 12rem
        }

        .boxTall {
            height: 18rem
        }

        h2 {
            font-size: 28px;
            font-weight: bold;
        }

        .decorative-frame {
            border-top: 4px solid #cdcdd0;
            border-bottom: 4px solid #cdcdd0;
            border-left: 4px solid #cdcdd0;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            padding: 0.4rem 1.6rem;
        }
    </style>
</head>
<body>
<div class="row">
    <img src="assets/KORBO_logo_120.png" alt="logo KORBO">
    <h2 class="decorative-frame">zodpovědnost - svoboda - skauting</h2>
</div>
{# <div class="boxWrap">ID
    <div class="box">{{ a.id }}</div>
</div> #}
<div class="boxWrap">Název&nbsp;aktivity
    <div class="box boxImportant">{{ a.name }}</div>
</div>
<div class="boxWrap">Popis
    <div class="box boxTall">{{ a.description }}</div>
</div>
<div class="row">
    <div class="boxWrap">Typ&nbsp;aktivity
        <div class="box">{{ a.type }}</div>
    </div>
    <div class="boxWrap">Místo
        <div class="box">{{ a.place }}</div>
    </div>
    <div class="boxWrap">Připravuje
        <div class="box">{{ a.organizator }}</div>
    </div>
</div>
<div class="row">
    <div class="boxWrap">Čas
        <div class="box">{{ a.startDay }} {{ a.startTime }} - {{ a.endDay }} {{ a.endTime }}</div>
    </div>
    <div class="boxWrap">Meeting&nbsp;point
        <div class="box"></div>
    </div>
    <div class="boxWrap">Max.&nbsp;počet&nbsp;lidí
        <div class="box">{{ a.maxAttendees }}</div>
    </div>
</div>
<div class="boxWrap">Přihlášení&nbsp;účastníci:&nbsp;{{ a.signups|count }} + kdo se dopíše dolů
    <div class="box boxSemitall">
        {{ a.signups|join(', ') }}
    </div>
</div>
</body>
</html>