<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: "themix";
            src: url("assets/TheMix_LT_400.woff") format('woff');
        }
        @font-face {
            font-family: "themix";
            src: url("assets/TheMix_LT_700.woff") format('woff');
            font-weight: bold;
        }

        body {
            background: white;
            max-width: 42rem;
            font-size: 14px;
            font-family: themix, serif;
            display: flex;
            flex-direction: column;
            background-image: url("assets/frame.png");
            background-repeat: no-repeat;
        }

        .row {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .headerMargin {
            margin-top: 120px;
        }

        .boxWrap {
            margin: 0.2rem 0.4rem;
            padding: 0.2rem 0.4rem;
            flex-grow: 1;
        }

        .box {
            border: black 1px solid;
            font-size: 16px;
            text-align: center;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .boxImportant {
            font-size: 24px;
            font-weight: bold;
            height: 4rem;
        }

        .boxSemitall {
            height: 12rem
        }

        .boxTall {
            height: 18rem
        }
    </style>
</head>
<body>
<div class="row headerMargin">
</div>
{# <div class="boxWrap">ID
    <div class="box">{{ a.id }}</div>
</div> #}
<div class="boxWrap">Název aktivity
    <div class="box boxImportant">{{ a.name }}</div>
</div>
<div class="boxWrap">Popis
    <div class="box boxTall">{{ a.description }}</div>
</div>
<div class="row">
    <div class="boxWrap">Typ aktivity
        <div class="box">{{ a.type }}</div>
    </div>
    <div class="boxWrap">Místo
        <div class="box">{{ a.place }}</div>
    </div>
    <div class="boxWrap">Připravuje
        <div class="box">{{ a.organizator }}</div>
    </div>
</div>
<div class="row">
    <div class="boxWrap">Čas
        <div class="box">{{ a.startDay }} {{ a.startTime }} - {{ a.endDay }} {{ a.endTime }}</div>
    </div>
    <div class="boxWrap">Meeting point
        <div class="box"></div>
    </div>
    <div class="boxWrap">Max. počet lidí
        <div class="box">{{ a.maxAttendees }}</div>
    </div>
</div>
<div class="boxWrap">Přihlášení účastníci: {{ a.signups|count }} + kdo se dopíše dolů
    <div class="box boxSemitall">
        {{ a.signups|join(',') }}
    </div>
</div>
</body>
</html>